<%= form_with(model: personaje) do |form| %>
  <% if personaje.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(personaje.errors.count, "error") %> prohibited this personaje from being saved:</h2>

      <ul>
        <% personaje.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :edad, style: "display: block" %>
    <%= form.number_field :edad %>
  </div>

  <div>
    <%= form.label :peso, style: "display: block" %>
    <%= form.number_field :peso %>
  </div>

  <div>
    <%= form.label :hisoria, style: "display: block" %>
    <%= form.text_area :hisoria %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
