<div id="<%= dom_id personaje %>">
  <p>
    <strong>Nombre:</strong>
    <%= personaje.nombre %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= personaje.edad %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= personaje.peso %>
  </p>

  <p>
    <strong>Hisoria:</strong>
    <%= personaje.hisoria %>
  </p>

</div>
