<div id="<%= dom_id pelicula %>">
  <p>
    <strong>Titulo:</strong>
    <%= pelicula.titulo %>
  </p>

  <p>
    <strong>Fechacreacion:</strong>
    <%= pelicula.fechacreacion %>
  </p>

  <p>
    <strong>Calificacion:</strong>
    <%= pelicula.calificacion %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= pelicula.genero_id %>
  </p>

</div>
